<%- include('./partials/head') %>
<!-- Verbind de head met de index.ejs -->

  <header>
    <div class="header-info-1">
      <h1>
        <%= squad.name %>
      </h1>
      <h2><b>ID <%= squad.id %></b>
      </h2>
      <ul>
        <li>
          Slug: <%= squad.slug %>
        </li>
        <li>
          Cohort: <%= squad.cohort %>
        </li>
      </ul>
    </div>
  </header>

  <main>

    <div class="squad-title">
      <h2>
        Overzicht: <%= squad.name %>
          <form>
            <input class="searchbar" type="search" placeholder="Search.." name="search">
          </form>
      </h2>
    </div>
    <!-- <span style="color:orange" class="error-searchbar">Niemand heet zo</span> -->
    <section>
      <!-- Hier komen de members -->
      <% squad.members.forEach(member=> { %>
        <article data-id="<%= member.id %>" class="id-card-trigger">

          <div class="id-card">
            <div class="float-left">
              <% if (member.avatar) { %>

                <!-- De avatar van een member wordt opgehaald uit de API. Als de avatar niet laad of als er sprake is van
                  een error bij een avatar uit de database wordt er gekeken naar een placeh9lder image en wordt deze
                  gebruikt. -->
                <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>"
                  onerror="this.onerror=null;this.src='https://minotar.net/helm/tjbs/600.png';" />
                <% }else{ %>
                  <img src="https://i.pinimg.com/originals/85/78/bf/8578bfd439ef6ee41e103ae82b561986.png"
                    alt="Placeholder avatar" />
                  <% } %>
            </div>
            <div class="id-card-information float-left">
              <h2 class="name">
                <%= member.name %>
              </h2>
              <p>
                <%= member.role %>
              </p>
            </div>
          </div>
        </article>






        <!-- Dialog waarin alle gegevens van een bepaalde member worden weergegeven. -->
        <dialog class="card" id="<%= member.id %>">

          <div class="dialogg-card">
            <div class="float-left">
              <% if (member.avatar) { %>

                <!-- De avatar van een member wordt opgehaald uit de API. Als de avatar niet laad of als er sprake is van
                  een error bij een avatar uit de database wordt er gekeken naar een placeh9lder image en wordt deze
                  gebruikt. -->
                <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>"
                  onerror="this.onerror=null;this.src='https://minotar.net/helm/tjbs/600.png';" />
                <% }else{ %>
                  <img src="https://i.pinimg.com/originals/85/78/bf/8578bfd439ef6ee41e103ae82b561986.png"
                    alt="Placeholder avatar" />
                  <% } %>
            </div>
            <div class="dialogg-card-information float-left">
              <h2>
                <%= member.name %><button class="close" value="cancel"><svg xmlns="http://www.w3.org/2000/svg"
                      fill="#707070" width="24" height="24" viewBox="0 0 24 24">
                      <path
                        d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.5 16.084l-1.403 1.416-4.09-4.096-4.102 4.096-1.405-1.405 4.093-4.092-4.093-4.098 1.405-1.405 4.088 4.089 4.091-4.089 1.416 1.403-4.092 4.087 4.092 4.094z" />
                    </svg></button>
              </h2>
              <p>
                <%= member.role %>
              </p>
            </div>
          </div>

          <div class="dialog-card">
            <p>About me:</p>
            <ul>
              <li>Name: <%= member.name %>
                  <%= member.surname %>
              </li>
              <li>Slug: <%= member.slug %>
              </li>
              <li>Nickname: <%= member.nickname %>
              </li>
            </ul>
            <p>My socials:</p>
            <ul>
              <!-- Plakt de " https://github.com/" en gitHubHandle van een member aan elkaar waardoor een werkende link ontstaat. -->
              <li>Github: <a href="<%= " https://github.com/" + member.gitHubHandle %>" target="_blank">Visit Github</a>
              </li>
              <li>Website: <a href="<%= member.website %>" target="_blank">Visit Website</a></li>
            </ul>
            <p>Other:</p>
            <ul>
              <li>Class: <%= squad.name %>
              </li>
               <!-- Haalt de hex colour van een member uit de API op. Mocht een member zijn of haar hex colour niet hebben ingevuld wordt deze vervangen met de tekst: No colour selected. -->
              <li>
                Colour:<span style="color:<%= member.colour?.hex %>">
                  <% if(member.colour?.hex) { %>
                    <%= member.colour?.hex %>
                </span>
                <% } else { %>
                  <span style="color:orange">No colour selected.
                    <% } %>
                  </span>
              </li>
            </ul>
          </div>

        </dialog>
        <% }) %>

    </section>


  </main>

<!-- Verbind de foot met de index.ejs -->
  <%- include('./partials/foot') %>