<%- include('./partials/head') %>

  <header>
    <div class="header-info-1">
      <h1>
        <%= squad.name %>
      </h1>
      <h2><b>ID <%= squad.id %></b>
      </h2>
      <ul>
        <li>
          Slug: <%= squad.slug %>
        </li>
        <li>
          Cohort: <%= squad.cohort %>
        </li>
      </ul>
    </div>
  </header>

  <main>

    <div class="squad-title">
      <h2>
        Overzicht: <%= squad.name %>
      </h2>
    </div>

    <section>
      <!-- Hier komen de members -->
      <% squad.members.forEach(member=> { %>
        <article data-id="<%= member.id %>" class="id-card-trigger">

          <div class="id-card">
            <div class="avatar-wrap float-left">
              <% if (member.avatar) { %>

                <!-- De avatar van een member wordt opgehaald uit de API. Als de avatar niet laad of als er sprake is van
                  een error bij een avatar uit de database wordt er gekeken naar een placeh9lder image en wordt deze
                  gebruikt. -->
                <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>"
                  onerror="this.onerror=null;this.src='https://minotar.net/helm/tjbs/600.png';" />
                <% }else{ %>
                  <img src="https://i.pinimg.com/originals/85/78/bf/8578bfd439ef6ee41e103ae82b561986.png"
                    alt="Placeholder avatar" />
                  <% } %>
            </div>
            <div class="id-card-information float-left">
              <h2>
                <%= member.name %>
              </h2>
              <p>
                <%= member.role %>
              </p>
            </div>
          </div>
        </article>

        <!-- Dialog waarin alle gegevens van een bepaalde member worden weergegeven. -->
        <dialog class="card" id="<%= member.id %>">

          <div class="id-card">
            <div class="avatar-wrap float-left">
              <% if (member.avatar) { %>

                <!-- De avatar van een member wordt opgehaald uit de API. Als de avatar niet laad of als er sprake is van
                  een error bij een avatar uit de database wordt er gekeken naar een placeh9lder image en wordt deze
                  gebruikt. -->
                <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>"
                  onerror="this.onerror=null;this.src='https://minotar.net/helm/tjbs/600.png';" />
                <% }else{ %>
                  <img src="https://i.pinimg.com/originals/85/78/bf/8578bfd439ef6ee41e103ae82b561986.png"
                    alt="Placeholder avatar" />
                  <% } %>
            </div>
            <div class="id-card-information float-left">
              <h2>
                <%= member.name %>
                  <%= member.surname %>
              </h2>
              <p>
                <%= member.role %>
              </p>
            </div>
          </div>

          <div class="dialog-card">
            <p>About me:</p>
            <ul>
              <li>Name: <%= member.name %> <%= member.surname %></li>
              <li>Slug: <%= member.slug %></li>
              <li>Nickname: <%= member.nickname %></li>
            </ul>
            <p>My socials:</p>
            <ul>
              <li>Github: <%= member.gitHubHandle %></li>
              <li>Website: <%= member.website %></li>
            </ul>
            <p>Other:</p>
            <ul>
              <li>Class: <%= squad.name %></li>
              <li>Favorite colour: <%= member.colour?.hex %></li>
            </ul>
          </div>
          <!-- <a href="<%= " https://github.com/" + member.gitHubHandle %>" target="_blank">Github</a>
          <a href="<%= " /?squad=" + squad.slug %> %>" class="close-button">Close Menu</a> -->
          <!-- Haalt de github handle van een member uit de API op. Mocht een member zijn of haar githubhandle niet hebben ingevuld wordt deze vervangen met de tekst: Niet Ingesteld. -->
        </dialog>
        <% }) %>

    </section>


  </main>

  <%- include('./partials/foot') %>