<%- include('./partials/head') %>

  <header>
    <div class="header-img">
      <img src="https://avatars.githubusercontent.com/u/62932179?s=280&v=4h" alt="Steve Avatar" />
    </div>
    <div class="header-info-1">
      <h1>
        <%= squad.name %>
      </h1>
      <h2><b>ID <%= squad.id %></b>
      </h2>
      <ul>
        <li>
          Slug: <%= squad.slug %>
        </li>
        <li>
          Since: <%= squad.cohort %>
        </li>
      </ul>
    </div>
    <div class="header-info-2">
    </div>
  </header>

  <main>

    <div class="squad-title">
      <h2>
        <%= squad.name %>
      </h2>
    </div>

    <section>
      <!-- Hier komen de members -->
      <% squad.members.forEach(member=> { %>
        <article>
          <div class="id-card">
            <div class="avatar-wrap float-left">
          <% if (member.avatar) { %>
            
            <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>"
              onerror="this.onerror=null;this.src='https://i.pinimg.com/originals/a9/a4/ec/a9a4ec03fa9afc407028ca40c20ed774.jpg';" />
            <% }else{ %>
              <img src="https://i.pinimg.com/originals/85/78/bf/8578bfd439ef6ee41e103ae82b561986.png"
                alt="Placeholder avatar" />
              <% } %>
            </div>
              <div class="id-card-information float-left">
              <h2>
                  <%= member.name %>
                </h2>
                <% if(member.gitHubHandle) { %>
                  <p><%= member.gitHubHandle %></p>
              <% } else { %>
                  <p>Geen ingevuld</p>
              <% } %>
              </div>  
            </div>
        </article>
        <% }) %>
    </section>


  </main>

  <%- include('./partials/foot') %>