<%- include('./partials/head') %>

  <header>
    <div class="header-img">
      <img src="https://avatars.githubusercontent.com/u/16403403?s=80&v=4" alt="Steve Avatar" />
    </div>
    <div class="header-info-1">
      <h1>
        <%= member.name %>
          <%= member.surname %>
      </h1>
      <h2><b>USER</b> <%= member.id %>
      </h2>
      <ul>
        <li>Windows</li>
        <li>
          <%= member.slug %>
        </li>
      </ul>
      <p><b>About me</b> <br>
        <%= member.bio.html %>
      </p>
    </div>
    <div class="header-info-2">
    </div>
  </header>

  <main>

    <div class="squad-title">
      <h2>Squad A</h2>
    </div>

    <div class="container">
      <div class="user-row-1">

        <section>
          <div class="id-card">
            <div class="avatar-wrap float-left">
              <img src="https://avatars.githubusercontent.com/u/16403403?s=80&v=4" alt="Steve Avatar" />
            </div>
            <div class="id-card-information float-left">
              <h2>
                <%= member.name %>
              </h2>
              <p>
                <%= member.role %>
              </p>
            </div>
          </div>
        </section>

        <section>
          <div class="id-card">
            <div class="avatar-wrap float-left">
              <img src="https://i.stack.imgur.com/frlIf.png" alt="Steve Avatar" />
            </div>
            <div class="id-card-information float-left">
              <h2>Steve</h2>
              <p>
                <%= member.role %>
              </p>
            </div>
          </div>
        </section>

        <section>
          <div class="id-card">
            <div class="avatar-wrap float-left">
              <img src="https://avatars.githubusercontent.com/u/7940844?s=80&v=4" alt="Alex Avatar" />
            </div>
            <div class="id-card-information float-left">
              <h2>Alex</h2>
              <p>
                <%= member.role %>
              </p>
            </div>
          </div>
        </section>

      </div>
      <div class="user-row-2">

        <section>
          <div class="id-card">
            <div class="avatar-wrap float-left">
              <img src="https://avatars.githubusercontent.com/u/75864?v=4" alt="Steve Avatar" />
            </div>
            <div class="id-card-information float-left">
              <h2>Steve</h2>
              <p>
                <%= member.role %>
              </p>
            </div>
          </div>
        </section>



        <section>
          <div class="id-card">
            <div class="avatar-wrap float-left">
              <img src="https://avatars.githubusercontent.com/u/24235581?v=4" alt="Alex Avatar" />
            </div>
            <div class="id-card-information float-left">
              <h2>Alex</h2>
              <p>
                <%= member.role %>
              </p>
            </div>
          </div>
        </section>

        <section>
          <div class="id-card">
            <div class="avatar-wrap float-left">
              <img src="https://avatars.githubusercontent.com/u/5435082?s=80&v=4" alt="Alex Avatar" />
            </div>
            <div class="id-card-information float-left">
              <h2>Alex</h2>
              <p>
                <%= member.role %>
              </p>
            </div>
          </div>
        </section>

      </div>
      <div class="user-row-3">

        <section>
          <div class="id-card">
            <div class="avatar-wrap float-left">
              <img src="https://avatars.githubusercontent.com/u/1309537?v=4" alt="Notch Avatar" />
            </div>
            <div class="id-card-information float-left">
              <h2>Notch</h2>
              <p>
                TEACHER
              </p>
            </div>
          </div>
        </section>

        <section>
          <div class="id-card">
            <div class="avatar-wrap float-left">
              <img src="https://avatars.githubusercontent.com/u/109185012?s=64&v=4" alt="Steve Avatar" />
            </div>
            <div class="id-card-information float-left">
              <h2>Steve</h2>
              <p>
                <%= member.role %>
              </p>
            </div>
          </div>
        </section>

      </div>
    </div>

  </main>

  <%- include('./partials/foot') %>