<%- include('./partials/head') %>

  <header>
    <img src="https://minotar.net/helm/Oom_Dagobert/600.png" alt="Steve Skin" />
    <h1>
      <%= member.name %>
        <%= member.surname %>
    </h1>
    <h2><b>USER</b>
      <%= member.id %>
    </h2>
    <ul>
      <li>Microsoft</li>
      <li>Netherlands</li>
    </ul>
    <!-- <p><b>About me</b> <br>
      <%= member.bio.html %>
    </p> -->
  </header>

  <main>
    <div class="squad-title">
      <h2>Squad A</h2>
    </div>

    <section>
      <div class="id-card">
        <div class="avatar-wrap float-left">
          <img src="https://minotar.net/helm/Oom_Dagobert/600.png" alt="Steve Skin" />
        </div>
        <div class="id-card-information float-left">
          <h2>
            <%= member.nickname %>
          </h2>
          <p>
            <%= member.role %>
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="id-card">
        <div class="avatar-wrap float-left">
          <img src="https://i.pinimg.com/originals/85/78/bf/8578bfd439ef6ee41e103ae82b561986.png" alt="Steve Skin" />
        </div>
        <div class="id-card-information float-left">
          <h2>Steve</h2>
          <p>
            <%= member.role %>
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="id-card">
        <div class="avatar-wrap float-left">
          <img src="https://i.pinimg.com/originals/a9/a4/ec/a9a4ec03fa9afc407028ca40c20ed774.jpg" alt="Steve Skin" />
        </div>
        <div class="id-card-information float-left">
          <h2>Alex</h2>
          <p>
            <%= member.role %>
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="id-card">
        <div class="avatar-wrap float-left">
          <img src="https://i.pinimg.com/originals/85/78/bf/8578bfd439ef6ee41e103ae82b561986.png" alt="Steve Skin" />
        </div>
        <div class="id-card-information float-left">
          <h2>Steve</h2>
          <p>
            <%= member.role %>
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="id-card">
        <div class="avatar-wrap float-left">
          <img src="https://i.pinimg.com/originals/a9/a4/ec/a9a4ec03fa9afc407028ca40c20ed774.jpg" alt="Steve Skin" />
        </div>
        <div class="id-card-information float-left">
          <h2>Alex</h2>
          <p>
            <%= member.role %>
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="id-card">
        <div class="avatar-wrap float-left">
          <img src="https://i.pinimg.com/originals/a9/a4/ec/a9a4ec03fa9afc407028ca40c20ed774.jpg" alt="Steve Skin" />
        </div>
        <div class="id-card-information float-left">
          <h2>Alex</h2>
          <p>
            <%= member.role %>
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="id-card">
        <div class="avatar-wrap float-left">
          <img src="https://i.pinimg.com/originals/85/78/bf/8578bfd439ef6ee41e103ae82b561986.png" alt="Steve Skin" />
        </div>
        <div class="id-card-information float-left">
          <h2>Steve</h2>
          <p>
            <%= member.role %>
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="id-card">
        <div class="avatar-wrap float-left">
          <img src="https://i.pinimg.com/originals/85/78/bf/8578bfd439ef6ee41e103ae82b561986.png" alt="Steve Skin" />
        </div>
        <div class="id-card-information float-left">
          <h2>Steve</h2>
          <p>
            <%= member.role %>
          </p>
        </div>
      </div>
    </section>

  </main>

  <%- include('./partials/foot') %>